<html layout:decorator="layout" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">

    <form action="#" th:action="@{'add'}" th:object="${post}" method="post" id="comment_form" >
        <div class="form-group">
            <label for="post">Author</label>
            <input type="text" th:field="*{author}" class="form-control" id="author" name="author"/>
            <label for="post">Title</label>
            <input type="text" th:field="*{title}" class="form-control" id="title" name="title"/>

            <label for="post">Post</label>
            <input type="text" th:field="*{content}" class="form-control" id="content" name="content"/>

        </div>
        <button type="submit" id="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</html>